.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 20vw;
    background-color: #0077B5;
    color: white;
    z-index: 101; 
    padding-top: 5px;
    font-weight: bold;
}

.logo-box {
    display: flex;
    align-items: center;
}

.sidebar-link {
    padding-left: 25px;
}

.sidebar-component {
    padding-left: 15px;
    font-size: 17px;
}

.custom-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px 0 15px 15px;
}

.sidebar-link{
    background-color: #0077B5;
    color: white;
    border-radius: 100px 0px 0px 100px;
    font-weight: bold;
}

.custom-link:hover{
    background-color: rgba(255, 255, 255, 0.643);
    color: #0077B5;
    border-radius: 100px 0px 0px 100px;
    font-weight: bold;
}

.sidebar-link > .active{
    background-color: white !important;
    color: #0077B5;
    border-radius: 100px 0px 0px 100px;
    font-weight: bold;
}

.custom-link:hover img, .active img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(747%) hue-rotate(189deg) brightness(92%) contrast(89%);
}
