.sidebar {
    min-width: 230px;
    width: 20vw;
    min-height: 100vh;
    background-color: #0077B5;
    color: white; 
    font-weight: bold;
    /* border: 2px solid red; */
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box img{
    /* width: 100px; */
    height: auto;
}

.sidebar-title {
    padding-left: 15px;
    font-size: 17px;
}

.custom-link {
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px 0 15px 15px;
}

.custom-link:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px 0px 0px 100px;
    font-weight: bold;
}

.active{
    background-color: white !important;
    color: #0077B5;
    border-radius: 100px 0px 0px 100px;
    font-weight: bold;
}

/* .custom-link:hover img{
    filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(747%) hue-rotate(189deg) brightness(92%) contrast(89%);
} */

.active img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(85%) saturate(747%) hue-rotate(189deg) brightness(92%) contrast(89%);
}
