nav {
    display: flex;
    /* height: 12vh; */
    margin-top: 0px;
    align-items: center;
    color: #2B3674;
    font-weight: bold;
    /* border: 2px solid; */

}

.meeting{
    /* display:flex;     */
    flex-direction: column;
    position: absolute;
    /* border: 2px solid; */
}

nav div {
    padding: 0 20px;
}

.meet-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    border: 2px solid;   

}
.meet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    /* margin: auto; */
    /* border: 2px solid black; */
    /* width: 280px; */
    /* height: 180x; */
    border-radius: 13px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 20px;
}
.meeting-img {
    width: 10vw;
    border-radius: 10vh;
}

p {
   margin: 0;
   padding: 0;

}

.meeting-heading {
    font-size: larger;
    
}
.navbar{
    margin-top: 80px;
    display:flex;
    justify-content: center;
  
   height: 30px;
}
.host{
    color:rgba(148, 148, 148, 30)
}
.img{
    display: flex;
    justify-content:center;
}
.meet-detail{
    
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    line-height:1.7em;
    justify-content: center;
    
}
.headings{
    padding: 20px;
}
.det{
    display: flex;

}
.time{
    display: flex;
   justify-content: end;
}
.size{
    width:13px;
    
}
.schedulediv,.apt,.calendar,.persondiv{
    display: flex;
}
 
