.minute-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    overflow-y: auto;
}

.minute-container {
    margin: 50px 0 100px 50px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(241, 241, 241, 0.526);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 55vw;
}
.minute-table{
    border-collapse: collapse;
    width: calc(100% - 40px);
    margin: 0px 20px;
}
.minute-table tr{
    border-bottom: 1px solid #0076b55a;
}

.minute-table tr:last-child{
    border-bottom: none;
}

.minute-table td {
  padding: 7px;
  font-size: 17px;
}
.minute-table-row td:first-child {
    font-weight:500;
    width: 30px;
    color: rgb(0, 0, 54);
    text-align: center;
}
.minute-table-row td:nth-child(2) {
    width: calc(100% - 30px);
}

.minute-input{
    position: absolute;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;
    margin-left: 50px;
    margin-bottom: 15px;
    /* border:  2px solid #0076b5; */
}

.minute-input input[type="text"] {
    width: 60vw;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

}
.minute-input form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.minute-input button.minute-add {
    padding: 3px 4px;
    font-size:25px;
    background-color: #0076b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.minute-input button.minute-add:hover {
    background-color: #005a8c;
}




