/* .navbar2{
    position: relative;
    top: 90px;
    left: 0px;
    display: flex;
    width: 35vw;
    justify-content: space-between;
}
.m-details,.m-minutes,.m-tasks,.m-attendance,.m-report{

    padding: 10px;
    padding-left:15px;
    padding-right: 15px;
}
.m-details:hover,.m-minutes:hover,.m-tasks:hover,.m-attendance:hover,.m-report:hover{
    background-color: #0077B5;
    color: white;
    border-radius: 6px;
} */

