.minute-update {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: Arial;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.minute-update:hover{
    background-color: darkorange;
}

.update-minutes-header h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005f8b;
}

.minute-update-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30vh;
}
.minute-update-input{
    display: flex;
    padding: 0 20px;
}

.back-button:hover {
    transform: translateX(-15px); /* Move 10px to the left */
    transition: transform 0.5s ease; /* Smooth animation */
}
