.header {
    height: 10%;
    width:auto;   
    display: flex;
    justify-content: right;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    border-bottom: #0077B5 1px solid;
    background-color: white;
    color: grey;
    position:fixed;
    top:0;
    right:0;
    left:18vw;
    z-index: 100;
}

.right-section {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-section> *{
    margin-left: 9px;
}

.right-section img {
    width: 30px;
    height: 30px;
}