
.header {
    height: 60px;   
    display: flex;
    justify-content: right;
    width: 100%;    
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    border-bottom: #0077B5 1px solid;
    color: grey;
}

.right-section {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-section> *{
    margin-left: 9px;
}

.right-section img {
    width: 30px;
    height: 30px;
}